<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Medicines Store</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Online Medicines Store</h1>
        </header>
        <main>
            <div class="success-message">success</div>
        </main>
        <footer>
            <p>Copyright &copy; 2023 Medicines Store</p>
        </footer>
    </div>
</body>
</html>

